@font-face {
  font-family: "SF Pro Display";
  src: url("../../fonts/SFProDisplay-ThinItalic.eot");
  src: local("../../fonts/SF Pro Display ThinItalic"), local("../../fonts/SFProDisplay-ThinItalic"), url("../../fonts/SFProDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../../fonts/SFProDisplay-ThinItalic.woff") format("woff"), url("../../fonts/SFProDisplay-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../fonts/SFProDisplay-Light.eot");
  src: local("../../fonts/SF Pro Display Light"), local("../../fonts/SFProDisplay-Light"), url("../../fonts/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../../fonts/SFProDisplay-Light.woff") format("woff"), url("../../fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../fonts/SFProDisplay-LightItalic.eot");
  src: local("../../fonts/SF Pro Display LightItalic"), local("../../fonts/SFProDisplay-LightItalic"), url("../../fonts/SFProDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/SFProDisplay-LightItalic.woff2") format("woff2"), url("../../fonts/SFProDisplay-LightItalic.woff") format("woff"), url("../../fonts/SFProDisplay-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../fonts/SFProDisplay-Regular.eot");
  src: local("../../fonts/SF Pro Display Regular"), local("../../fonts/SFProDisplay-Regular"), url("../../fonts/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../../fonts/SFProDisplay-Regular.woff") format("woff"), url("../../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../fonts/SFProDisplay-RegularItalic.eot");
  src: local("../../fonts/SF Pro Display Regular Italic"), local("../../fonts/SFProDisplay-RegularItalic"), url("../../fonts/SFProDisplay-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../../fonts/SFProDisplay-RegularItalic.woff") format("woff"), url("../../fonts/SFProDisplay-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../fonts/SFProDisplay-Medium.eot");
  src: local("../../fonts/SF Pro Display Medium"), local("../../fonts/SFProDisplay-Medium"), url("../../fonts/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../../fonts/SFProDisplay-Medium.woff") format("woff"), url("../../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../fonts/SFProDisplay-Semibold.eot");
  src: local("../../fonts/SF Pro Display Semibold"), local("../../fonts/SFProDisplay-Semibold"), url("../../fonts/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../../fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../fonts/SFProDisplay-Bold.eot");
  src: local("../../fonts/SF Pro Display Bold"), local("../../fonts/SFProDisplay-Bold"), url("../../fonts/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../../fonts/SFProDisplay-Bold.woff") format("woff"), url("../../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.row > * {
  width: 100%;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 150%;
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* a {
  color: inherit;
}

body {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  background-color: #E5E5E5;
}

body.locked {
  overflow: hidden;
}

.image-bg {
  position: relative;
}

.image-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.wrapper {
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.container {
  margin: 0px auto;
  padding: 0px 15px;
  max-width: 540px;
}

.header-1 {
  font-weight: 400;
  font-size: 72px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #3C3B3B;
}

.header-2 {
  text-align: center;
  font-weight: 400;
  font-size: 34px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #3C3B3B;
}

.header-3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1B567C;
}

.header-4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #3C3B3B;
}

.main-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #3C3B3B;
}

.main-text_semibold {
  font-weight: 600;
}

.mini-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #858585;
}

.link {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #FA6232;
}

.button-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.035em;
  color: #ffffff;
}

.button-text_small {
  font-size: 18px;
}

.contact {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.contact__icon {
  position: relative;
  margin-right: 8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.contact__icon_email {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.contact__icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  opacity: 0.2;
  border-radius: 100%;
}

.contact__descr {
  margin-top: 24px;
  color: #ffffff;
}

.contact__contact {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.contact__contact_footnote {
  margin-top: -1px;
  font-style: italic;
  font-weight: 200;
  font-size: 14px;
  text-align: right;
}

.button {
  background-color: #FA6232;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #67A8D2;
}

.button_blue {
  padding: 7px 30px;
  background-color: #67A8D2;
}

.button_blue:hover {
  background-color: #FA6232;
}

.round-list {
  position: relative;
  margin-left: 43px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #1B567C;
}

.round-list:not(:last-child) {
  margin-bottom: 18px;
}

.round-list::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -36px;
  width: 4px;
  height: 11px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #1B567C;
  border-radius: 20px;
  z-index: 5;
}

.round-list::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  height: 19px;
  width: 4px;
  -webkit-transform: rotate(39.54deg);
  transform: rotate(39.54deg);
  background: #1B567C;
  border-radius: 20px;
  z-index: 5;
}

.round-list span {
  position: absolute;
  top: 0;
  left: -43px;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background: linear-gradient(90deg, #7CB4D8 0%, rgba(191, 230, 255, 0) 100%);
}

.burger {
  position: absolute;
  top: 21px;
  right: 22px;
  z-index: 11;
}

.burger__wrapper {
  padding: 7px;
}

.burger__items {
  width: 30px;
  height: 16px;
}

.burger__items span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  transition: all 0.3s ease-out;
}

.burger__items span:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.burger__items span:first-child {
  margin: 0px 0px 5px auto;
  text-align: right;
  width: 70%;
}

.burger.active span:first-child {
  width: 100%;
  position: relative;
  top: 6.5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger.active span:nth-child(2) {
  display: none;
}

.burger.active span:last-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slick-slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.slick-slide {
  padding: 0 4px;
}

.slick-dots {
  margin: 27px 4px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  height: 8px;
  width: 100%;
  max-width: 559px;
}

.slick-dots li {
  position: relative;
  margin: 0 6px 0px 2px;
  padding: 0 4px;
}

.slick-dots li.slick-active button {
  background-color: #67A8D2;
}

.slick-dots button {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: rgba(103, 168, 210, 0.3);
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  display: block;
  background-color: #262626;
  transition: opacity 0.3s ease-out;
}

.header__wrapper {
  padding: 11px 0 12px;
  -ms-flex-align: center;
  align-items: center;
}

.header__block.active .header__mobile {
  right: 0;
}

.header__mobile {
  padding: 10px;
  padding-top: 85px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  z-index: 10;
  background-color: #262626;
  transition: right 0.6s ease-out;
}

.header__logo img {
  width: 79px;
  height: 49px;
}

.header__contacts .contact__contact {
  font-size: 14px;
}

.header__contacts .contact__contact_footnote {
  font-size: 12px;
}

.header__contacts > :not(:last-child) {
  margin-bottom: 15px;
}

.header__login {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-color: #67A8D2;
  transition: all 0.3s ease;
}

.header__login img {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.header__login:hover {
  background-color: #FA6232;
}

.header__buttons {
  margin-top: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.header__button {
  margin-right: 10px;
  padding: 7px 12px;
  font-size: 16px;
}

.header nav {
  margin-top: 227px;
  padding: 30px 0px 0px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  z-index: 10;
  overflow: scroll;
  transition: right 0.6s ease-out;
}

.header nav.active {
  right: 0;
}

.header__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-transform: uppercase;
}

.header__menu > :not(:last-child) {
  position: relative;
}

.header__menu > :not(:last-child)::after {
  display: none;
  content: "";
  position: absolute;
  top: 2px;
  right: -27px;
  width: 1px;
  height: 20px;
  opacity: 0.2;
  background-color: #262626;
}

.header__link {
  padding: 5px;
}

#dropdown {
  position: relative;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown::before,
.dropdown::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -16px;
  width: 8px;
  height: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #262626;
}

.dropdown::before {
  right: -21px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.dropdown__button {
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  background: transparent;
}

.dropdown__wrapper {
  display: none;
  margin: 0 -15px;
  padding: 5px 5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

.dropdown__wrapper > :not(:last-child) {
  margin-bottom: 10px;
}

.dropdown__wrapper.active {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  inset: 0px auto auto 0px;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  min-width: 220px;
  visibility: visible;
  opacity: 1;
  z-index: 102;
  background-color: #ffffff;
}

.dropdown__item {
  text-transform: lowercase;
}

.dropdown__item a {
  padding: 5px 10px;
}

.dropdown__item:hover {
  background-color: rgba(103, 168, 210, 0.5);
}

.dropdown.active::before,
.dropdown.active::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.dropdown.active::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 6;
  background-color: rgba(8, 6, 6, 0.5);
  transition: all 2s ease-out;
}

.header-overlay.active {
  display: block;
}

.promo {
  padding: 126px 0 64px;
  background: linear-gradient(91.05deg, #5994BA 14.15%, #ADCCE0 99%);
}

.promo__container {
  position: relative;
}

.promo__image {
  position: absolute;
  top: 150px;
  right: -366px;
  opacity: 0.3;
}

.promo__image img {
  width: 50%;
  height: 50%;
}

.promo__content {
  position: relative;
  z-index: 5;
}

.promo__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-shadow: 3px 1px 0px #3E708F;
}

.promo__text {
  margin-top: 24px;
}

.promo__text p {
  color: #ffffff;
}

.promo__text p:not(:last-child) {
  margin-bottom: 11px;
}

.promo__text p span {
  font-weight: 700;
}

.promo__buttons {
  position: relative;
  margin-top: 22px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.promo__price {
  position: relative;
  width: 210px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  z-index: 5;
}

.promo__price::before {
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  width: 100vw;
  height: 34px;
  background-color: #1B567C;
  z-index: -1;
}

.promo__price::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -6px;
  width: 100vw;
  height: 32px;
  background-color: #FE8572;
  z-index: -2;
}

.promo__price span {
  font-weight: 700;
}

.promo__button {
  padding: 7px 31px 7px 32px;
  margin-top: 30px;
}

.promo__arrow {
  position: absolute;
  left: 184px;
  bottom: 47px;
  z-index: 5;
  -webkit-transform: scale(1, -1) rotate(-45deg);
  transform: scale(1, -1) rotate(-45deg);
}

.promo__arrow img {
  width: 57%;
}

.tariff {
  padding: 56px 0px;
}

.tariff .show-m {
  display: block;
}

.tariff .hide {
  display: none;
}

.tariff .hide-block {
  display: none;
}

.tariff .hide-m {
  display: none;
}

.tariff .hide-w-m {
  display: none;
}

.tariff__about {
  margin-top: 36px;
  max-width: 700px;
}

.tariff__about > :not(:last-child) {
  margin-bottom: 23px;
}

.tariff__names {
  margin-top: 47px;
}

.tariff__infinity {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.tariff__characteristics {
  margin-top: 10px;
}

.tariff__all-characteristics {
  margin-top: 35px;
  text-align: center;
}

.tariff__additions {
  margin-top: 40px;
}

.tariff__card:not(:last-child) {
  margin-bottom: 30px;
}

.tariff-block {
  padding: 20px 16px 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(183, 183, 183, 0.43);
  border-radius: 10px 10px 0px 0px;
}

.tariff-block__image {
  padding: 12px 20px 0;
  width: 88px;
  height: 88px;
  border-radius: 100%;
  background: linear-gradient(180deg, rgba(103, 168, 210, 0.88) 0%, rgba(103, 168, 210, 0) 100%);
}

.tariff-block__image_start {
  padding: 0;
  position: relative;
}

.tariff-block__image_start img {
  position: absolute;
  top: 24px;
  right: 8px;
}

.tariff-block__image_standart {
  padding: 0;
  position: relative;
}

.tariff-block__image_standart img {
  position: absolute;
  top: 17px;
  right: 7px;
}

.tariff-block__image_business {
  padding: 0;
  position: relative;
}

.tariff-block__image_business img {
  position: absolute;
  top: 8px;
  right: 8px;
}

.tariff-block__name {
  margin-top: 12px;
}

.tariff-description {
  padding: 18px 24px 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(183, 183, 183, 0.43);
  border-radius: 0px 0px 10px 10px;
}

.tariff-description__bottom {
  margin-top: 30px;
}

.tariff-description__text {
  margin-top: 12px;
}

.tariff-description__text > :not(:last-child) {
  margin-bottom: 14px;
}

.tariff-description__price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tariff-description__new-price {
  position: relative;
}

.tariff-description__new-price div {
  position: absolute;
  width: 160px;
  height: 67px;
  top: 0;
  left: -24px;
  background: linear-gradient(90deg, #7CB4D8 0%, rgba(191, 230, 255, 0) 100%);
}

.tariff-description__new-price p {
  position: relative;
  text-align: left;
  z-index: 5;
}

.tariff-description__new-price p:first-of-type {
  margin-left: 11px;
}

.tariff-description__new-price p:last-of-type {
  margin-top: -10px;
  margin-left: 37px;
  margin-bottom: 3px;
}

.tariff-description__old-price p {
  text-align: left;
  color: #3C3B3B;
}

.tariff-description__old-price p:first-of-type {
  margin-right: 7px;
  font-weight: 300;
  font-size: 30px;
  line-height: 150%;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

.tariff-description__old-price p:last-of-type {
  margin-top: -10px;
  margin-left: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

.tariff-description__button {
  margin-top: 23px;
}

.tariff-additions__image img {
  width: 100%;
}

.tariff-additions__info {
  margin-top: 40px;
}

.tariff-additions__items {
  margin-top: 22px;
}

.cms {
  padding: 48px 0 86px;
  position: relative;
  background-color: rgba(103, 168, 210, 0.2);
}

.cms::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  background-color: rgba(103, 168, 210, 0.2);
}

.cms__about {
  margin-top: 36px;
  width: 100%;
  max-width: 720px;
}

.cms__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.cms__item {
  text-align: center;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  padding-top: 40px;
}

.sll {
  padding: 56px 0;
}

.sll__about {
  margin-top: 36px;
  width: 100%;
  max-width: 730px;
}

.sll__about > :not(:last-child) {
  margin-bottom: 23px;
}

.sll__cards {
  margin-top: 49px;
}

.sll__card {
  position: relative;
  list-style-type: none;
  counter-increment: list;
  cursor: pointer;
}

.sll__card::before {
  content: counter(list);
  position: absolute;
  top: -9px;
  left: 23px;
  font-weight: 600;
  font-size: 72px;
  line-height: 150%;
  text-align: center;
  color: #67A8D2;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.sll__card:hover::before {
  color: #FA6232;
}

.sll__card:nth-child(1) {
  margin-top: 30px;
}

.sll__card:nth-child(1) .sll-card__header {
  margin-top: 15px;
  max-width: 191px;
  height: 105px;
}

.sll__card:nth-child(2) {
  margin-top: 30px;
}

.sll__card:nth-child(2) .sll-card__header {
  max-width: 180px;
}

.sll__card:nth-child(3) {
  margin-top: 30px;
}

.sll__card:nth-child(3) .sll-card__header {
  max-width: 205px;
  height: 105px;
}

.sll__card:nth-child(4) {
  margin-top: 30px;
}

.sll__card:nth-child(4) .sll-card__header {
  max-width: 174px;
  height: 105px;
}

.sll__button {
  margin-top: 67px;
  text-align: center;
}

.sll__button button {
  padding: 7px 35px;
}

.sll-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  padding: 41px 0 30px;
  background: rgba(103, 168, 210, 0.1);
  border: 1px solid rgba(103, 168, 210, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(183, 183, 183, 0.43);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.sll-card:hover {
  background: rgba(255, 255, 255, 0.3);
}

.sll-card::after {
  content: "";
  position: absolute;
  top: 161px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 180px;
  height: 0.5px;
  background-color: #1B567C;
}

.sll-card__header {
  position: relative;
  height: 120px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #1B567C;
}

.sll-card__text {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-top: 30px;
  text-align: center;
}

.sll-card__text > :not(:last-child) {
  margin-bottom: 16px;
}

.sll-card__price {
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1B567C;
  text-align: center;
}

.sll-card__price span {
  margin-right: 11px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #1B567C;
}

.names-hosting {
  position: relative;
  background: linear-gradient(180deg, rgba(124, 180, 216, 0.4) 0%, rgba(191, 230, 255, 0) 100%);
}

.names-hosting:before {
  content: url("../../img/names/bg.svg");
  position: absolute;
  top: -18px;
  left: 0;
  z-index: -1;
}

.names {
  padding: 52px 0 104px;
}

.names__wrapper {
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.names__text {
  margin-top: 48px;
  width: 100%;
}

.names__text p:not(:last-child) {
  margin-bottom: 23px;
}

.names__button {
  margin-top: 45px;
}

.names__button button {
  padding: 7px 22px;
}

.names__blocks {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.names__block {
  margin-top: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 48%;
}

.names__block_right {
  margin-top: 21px;
}

.names__item:not(:last-child) {
  margin-bottom: 21px;
}

.names-item {
  padding: 15px 10px 15px 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(183, 183, 183, 0.43);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.names-item:hover {
  background: #eef4f7;
}

.names-item__domen {
  margin-top: 10px;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1B567C;
  z-index: 2;
}

.names-item__domen::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -19px;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background: linear-gradient(90deg, #7CB4D8 0%, rgba(191, 230, 255, 0) 100%);
  z-index: -1;
}

.names-item__price {
  margin-top: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: end;
  align-items: flex-end;
}

.names-item__value {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #3C3B3B;
}

.names-item__year {
  margin-top: -10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #3C3B3B;
}

.hosting {
  padding: 28px 0;
}

.hosting__wrapper {
  margin-top: 35px;
  -ms-flex-align: center;
  align-items: center;
}

.hosting__image {
  margin: 0 auto;
  max-width: 441px;
}

.hosting__content {
  margin-top: 30px;
  max-width: 640px;
}

.hosting__content > :not(:last-child) {
  margin-bottom: 23px;
}

.vps {
  padding: 50px 0 124px;
}

.vps__subtitle {
  margin-top: 20px;
}

.vps__items {
  margin-top: 23px;
}

.vps__table {
  margin-top: 30px;
}

.vps-table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  empty-cells: show;
  text-align: center;
  background-color: #ffffff;
}

.vps-table tbody tr:nth-child(odd) {
  background-color: rgba(103, 168, 210, 0.2);
}

.vps-table tbody tr:nth-child(odd) td:first-child {
  background-color: #1B567C;
}

.vps-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.vps-table tbody tr:nth-child(even) td:first-child {
  background-color: rgba(27, 86, 124, 0.8);
}

.vps-table tbody tr td:not(:first-child) {
  border-right: 0.5px solid #67A8D2;
}

.vps-table tbody tr td:last-child {
  border: none;
}

.vps-table td,
.vps-table th {
  width: 25%;
  padding: 11px 5px;
  vertical-align: top;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #3C3B3B;
}

.vps-table td:first-child,
.vps-table th:first-child {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}

.vps-table button {
  margin-top: 17px;
  padding: 7px 5px;
  font-size: 12px;
}

.advantages {
  padding: 56px 0;
  background: rgba(103, 168, 210, 0.2);
}

.advantages__items {
  margin-top: 61px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantages__item {
  position: relative;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

.advantages__item:nth-child(2) {
  margin-top: 40px;
}

.advantages__item:nth-child(3) {
  margin-top: 40px;
  max-width: 100%;
}

.advantages__title {
  margin-top: 16px;
}

.advantages__text {
  margin-top: 4px;
  width: 100%;
  text-align: center;
}

.feedback {
  padding: 103px 0 0px;
}

.feedback__wrapper {
  -ms-flex-align: center;
  align-items: center;
}

.feedback__text {
  margin-top: 30px;
  width: 100%;
  max-width: 480px;
}

.feedback__text p:not(:last-child) {
  margin-bottom: 23px;
}

.feedback__feedback {
  margin-top: 45px;
}

.feedback__item {
  margin-top: 45px;
  margin-bottom: 45px;
}

.feedback-feedback {
  padding: 40px 20px 82px;
  position: relative;
  width: 100%;
  max-width: 559px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(46, 46, 46, 0.27);
  border-radius: 10px;
}

.feedback-feedback::before {
  content: "";
  position: absolute;
  top: -17px;
  left: 50%;
  width: 31px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 31px;
  background: url("../../img/feedback/quotes.svg") no-repeat;
  background-size: cover;
  z-index: 2;
}

.feedback-feedback__text {
  text-align: center;
}

.feedback-feedback__author {
  position: absolute;
  right: 17px;
  bottom: 14px;
  max-width: 30%;
  text-align: center;
}

.feedback-feedback__image {
  text-align: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -38px;
  width: 76px;
  height: 76px;
}

.feedback-feedback__image img {
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(46, 46, 46, 0.27);
}

.fqa {
  position: relative;
  padding: 50px 0 200px;
}

.fqa:before {
  content: url("../../img/fqa/bg.svg");
  position: absolute;
  top: -129px;
  left: 0;
  z-index: -1;
}

.fqa__text {
  margin-top: 36px;
  width: 100%;
  max-width: 739px;
}

.fqa__wrapper {
  margin-top: 36px;
}

.accordion {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.accordion__block_right {
  margin: 20px 0 0 0;
}

.accordion__item {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(46, 46, 46, 0.27);
  cursor: pointer;
}

.accordion__item:not(:last-child) {
  margin-bottom: 20px;
}

.accordion__item.active .accordion__content {
  display: block;
}

.accordion__item.active .accordion__header::before {
  background-color: #FA6232;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion__item.active .accordion__header::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 0;
  background-color: transparent;
}

.accordion__header {
  padding: 20px 20px 20px 40px;
  position: relative;
  color: #1B567C;
}

.accordion__header:hover {
  color: #FA6232;
}

.accordion__header::before,
.accordion__header::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 20px;
  width: 3px;
  height: 18px;
  border-radius: 5px;
  background-color: #1B567C;
  transition: all 0.5s ease;
}

.accordion__header::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion__content {
  display: none;
  padding: 0 40px 25px 50px;
  color: #3C3B3B;
  transition: all 0.3s ease-out;
}

.try {
  position: relative;
}

.try__block {
  padding: 26px 11px;
  position: absolute;
  top: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 86.44%;
  max-width: 1020px;
  background-color: #1B567C;
  box-shadow: 0px 4px 4px rgba(46, 46, 46, 0.27);
  border-radius: 10px;
  z-index: 5;
}

.try__arrow-left {
  position: absolute;
  top: -25px;
  left: 0px;
}

.try__arrow-left img {
  width: 30%;
}

.try__arrow-right {
  position: absolute;
  top: -17px;
  right: -135px;
}

.try__arrow-right img {
  width: 30%;
}

.try__text p {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.try__text p:not(:last-of-type) {
  margin-bottom: 18px;
}

.try__text p:last-of-type {
  margin: 0 auto;
}

.try__text p span {
  font-weight: 700;
  color: #FA6232;
}

.try__button {
  margin-top: 36px;
  text-align: center;
}

.try__button button {
  padding: 7px 55px;
}

.payment {
  padding: 310px 0 118px;
  background: linear-gradient(180deg, rgba(124, 180, 216, 0.4) 0%, rgba(191, 230, 255, 0) 100%);
}

.payment__text {
  margin-top: 32px;
  width: 100%;
  max-width: 700px;
}

.payment__items {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.payment__item {
  padding: 10px 0;
  position: relative;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.payment__item:not(:last-child)::after {
  display: none;
  content: "";
  position: absolute;
  bottom: 50%;
  right: 0;
  width: 1px;
  height: 30px;
  background-color: #67A8D2;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.payment__item:nth-child(6)::after {
  display: none;
}

.payment__item img {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.footer {
  padding: 40px 0 90px;
  background-color: #262626;
}

.footer__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__info {
  -ms-flex-order: 1;
  order: 1;
}

.footer__text {
  margin-top: 15px;
  width: 100%;
}

.footer__contacts {
  margin-top: 45px;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  -ms-flex-order: 2;
  order: 2;
}

.footer__contacts > :not(:last-child) {
  margin-bottom: 21px;
}

.footer__contact {
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__social {
  margin-top: 45px;
  -ms-flex-order: 3;
  order: 3;
}

.footer__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
}

.footer__item {
  padding-top: 5px;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background: linear-gradient(90deg, #7CB4D8 0%, rgba(191, 230, 255, 0) 100%);
  text-align: center;
}

.footer__item:nth-child(2) {
  padding-top: 4px;
}

.footer__item:nth-child(3) {
  padding-top: 10px;
}

.footer__item img {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.footer__button {
  margin-top: 48px;
  text-align: left;
}

.footer__button button {
  padding: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}

.footer__menu {
  margin-top: 68px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-order: 4;
  order: 4;
}

.footer__menu-block:not(:first-child) {
  margin-top: 30px;
}

.footer-menu__title {
  color: #858585;
}

.footer-menu__items {
  margin-top: 10px;
}

.footer-menu__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

@media (min-width: 400px) {
  .promo__image {
    top: 70px;
  }

  .cms__items {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .cms__item {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }

  .feedback-feedback__author {
    max-width: 38%;
  }

  .payment {
    padding: 293px 0 118px;
  }

  .payment__item {
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }

  .payment__item:not(:last-child)::after {
    display: block;
  }

  .payment__item:nth-child(even)::after {
    display: none;
  }

  .payment__item:nth-child(3)::after {
    display: block;
  }
}

@media (min-width: 450px) {
  .footer__menu {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (min-width: 500px) {
  .cms__item {
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }

  .names-item {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .names-item__price {
    margin-top: 0;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media (min-width: 510px) {
  .try__block {
    padding: 45px 30px 32px;
  }

  .try__text p {
    font-size: 18px;
  }
}

@media (min-width: 576px) {
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-1 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-sm-2 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-sm-3 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .col-sm-4 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-sm-5 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-sm-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-7 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-sm-8 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-sm-9 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-10 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-sm-11 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-sm-12 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .header__mobile {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .header nav {
    margin-top: 179px;
  }

  .promo__image {
    top: 26px;
    opacity: 0.6;
  }

  .promo__buttons {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .promo__price {
    margin-right: 68px;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .promo__price::before {
    top: -6px;
    height: 40px;
  }

  .promo__price::after {
    top: 5px;
    right: -10px;
    height: 36px;
  }

  .promo__button {
    margin: 0;
  }

  .promo__arrow {
    left: 168px;
    bottom: -34px;
    -webkit-transform: none;
    transform: none;
  }

  .promo__arrow img {
    width: 100%;
  }

  .tariff .show-m {
    display: none;
  }

  .tariff .hide {
    display: -ms-flexbox;
    display: flex;
  }

  .tariff .hide-block {
    display: block;
  }

  .tariff .hide-w-m {
    display: block;
  }

  .tariff__infinity {
    margin-bottom: 0;
  }

  .tariff-description {
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 480px;
  }

  .tariff-description__bottom {
    margin: 0;
  }

  .sll__card:nth-child(1) {
    margin-top: 0;
  }

  .sll__card:nth-child(2) {
    margin-top: 0;
  }

  .names__block {
    margin-top: 45px;
    width: 49%;
  }

  .names__block_right {
    margin-top: 66px;
  }

  .vps-table td,
  .vps-table th {
    font-size: 16px;
  }

  .vps-table td:first-child,
  .vps-table th:first-child {
    font-size: 16px;
  }

  .vps-table button {
    padding: 7px 10px;
    font-size: 18px;
  }

  .advantages__item {
    max-width: 50%;
  }

  .advantages__item:nth-child(1) {
    padding-right: 30px;
  }

  .advantages__item:nth-child(2) {
    margin-top: 0;
    padding-left: 30px;
  }

  .feedback-feedback {
    padding: 50px 45px 64px;
  }

  .feedback-feedback__image {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .fqa__text {
    margin-top: 40px;
  }

  .fqa__wrapper {
    margin-top: 47px;
  }

  .try__text p {
    font-size: 20px;
  }

  .payment__item {
    padding: 15px;
  }

  .payment__item:not(:last-child)::after {
    height: 48px;
  }

  .payment__item img {
    -webkit-transform: none;
    transform: none;
  }

  .footer__contacts {
    margin-top: 68px;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
  }

  .footer__social {
    margin-top: 68px;
  }

  .footer__button {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-1 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-md-2 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-md-3 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-md-9 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-md-11 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-md-12 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .container {
    padding: 0;
    max-width: 720px;
  }

  .header-2 {
    font-size: 38px;
  }

  .burger {
    display: none;
  }

  .header {
    position: static;
    display: block;
  }

  .header__mobile {
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    position: static;
    height: auto;
  }

  .header__logo img {
    margin-left: 10px;
    width: 143px;
    height: 88px;
  }

  .header__contacts .contact__contact {
    font-size: 16px;
  }

  .header__contacts .contact__contact_footnote {
    font-size: 14px;
  }

  .header__login {
    width: 44px;
    height: 44px;
  }

  .header__login img {
    -webkit-transform: none;
    transform: none;
  }

  .header__buttons {
    margin: 0;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .header__buttons > :not(:last-child) {
    margin-right: 36px;
  }

  .header__button {
    margin: 0;
    padding: 7px 30px;
    font-size: 18px;
  }

  .header nav {
    overflow: unset;
    margin: 0;
    padding: 16px 0px 18px;
    position: static;
    width: auto;
    height: auto;
  }

  .header__menu {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: unset;
    align-items: unset;
  }

  .header__menu > :not(:last-child)::after {
    display: block;
  }

  .header__link {
    position: relative;
    padding: 0;
  }

  .header__link::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 1px;
    width: 0;
    background-color: #3C3B3B;
    transition: all 0.4s ease-out;
  }

  .header__link:hover::before {
    width: 100%;
  }

  .dropdown__wrapper.active {
    display: block;
  }

  .promo {
    padding: 54px 0 64px;
  }

  .promo__image {
    top: -10px;
    right: -250px;
    opacity: 1;
  }

  .promo__image img {
    width: 80%;
    height: 80%;
  }

  .promo__title {
    font-size: 56px;
  }

  .promo__text {
    margin-top: 34px;
  }

  .promo__price {
    width: 280px;
    font-size: 20px;
  }

  .promo__price::before {
    height: 46px;
  }

  .promo__price::after {
    height: 44px;
  }

  .promo__arrow {
    left: 227px;
    bottom: -38px;
  }

  .tariff {
    padding: 74px 0px;
  }

  .tariff__additions {
    margin-top: 66px;
  }

  .tariff-description__button {
    padding: 7px 42px;
    font-size: 20px;
  }

  .tariff-additions__info {
    margin: 0;
  }

  .tariff-additions__title {
    margin-left: 20px;
  }

  .tariff-additions__items {
    margin-left: 20px;
  }

  .cms__items {
    -ms-flex-pack: center;
    justify-content: center;
  }

  .cms__item {
    -ms-flex: 0 1 33.3333333%;
    flex: 0 1 33.3333333%;
  }

  .sll {
    padding: 74px 0;
  }

  .names__block {
    margin-top: 58px;
  }

  .names__block_right {
    margin-top: 79px;
  }

  .names-item {
    padding: 18px 19px 16px 39px;
  }

  .names-item__domen {
    font-size: 24px;
  }

  .names-item__value {
    font-size: 24px;
  }

  .names-item__year {
    font-size: 20px;
  }

  .hosting__wrapper {
    margin-top: 57px;
  }

  .hosting__image {
    margin: 0;
  }

  .hosting__content {
    margin: 0;
  }

  .vps-table td,
  .vps-table th {
    font-size: 20px;
  }

  .vps-table td:first-child,
  .vps-table th:first-child {
    font-size: 20px;
  }

  .advantages {
    padding: 65px 0 70px;
  }

  .feedback__feedback {
    margin: 0;
  }

  .feedback-feedback::before {
    top: -21px;
    width: 41px;
    height: 41px;
  }

  .fqa {
    padding: 50px 0 244px;
  }

  .accordion {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .accordion__block {
    margin: 0 10px 0 0;
    width: 50%;
  }

  .accordion__block_right {
    margin: 0 0 0 10px;
  }

  .accordion__header {
    padding: 20px 40px 20px 50px;
  }

  .accordion__header::before,
  .accordion__header::after {
    top: 21px;
    left: 25px;
    height: 21px;
  }

  .try__block {
    padding: 64px 55px 40px;
  }

  .try__arrow-left {
    top: -53px;
  }

  .try__arrow-left img {
    width: 60%;
  }

  .try__arrow-right {
    right: -78px;
  }

  .try__arrow-right img {
    width: 60%;
  }

  .payment__text {
    margin-top: 54px;
  }

  .payment__items {
    margin: 0;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .payment__item {
    padding: 0;
    margin-top: 58px;
    -ms-flex: 1 1 33.33333333%;
    flex: 1 1 33.33333333%;
  }

  .payment__item:not(:last-child)::after {
    bottom: 0;
    -webkit-transform: none;
    transform: none;
  }

  .payment__item:nth-child(even)::after {
    display: block;
  }

  .payment__item:nth-child(3)::after {
    display: none;
  }

  .payment__item:nth-child(6)::after {
    display: none;
  }

  .footer {
    padding: 89px 0 117px;
  }

  .footer__text {
    max-width: 400px;
  }

  .footer__contacts {
    margin-top: 0;
  }

  .footer__social {
    -ms-flex-order: 4;
    order: 4;
  }

  .footer__items {
    width: 252px;
  }

  .footer__item {
    padding-top: 9px;
    width: 48px;
    height: 48px;
  }

  .footer__item:nth-child(2) {
    padding-top: 8px;
  }

  .footer__item:nth-child(3) {
    padding-top: 14px;
  }

  .footer__item img {
    -webkit-transform: none;
    transform: none;
  }

  .footer__menu {
    -ms-flex-order: 3;
    order: 3;
    max-width: 400px;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
  }

  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-1 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-lg-2 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-lg-3 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-4 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-lg-5 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-lg-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-lg-9 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-10 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-lg-11 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-lg-12 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .container {
    max-width: 960px;
  }

  .header-2 {
    font-size: 42px;
  }

  .header-3 {
    font-size: 30px;
  }

  .header-4 {
    font-size: 24px;
  }

  .main-text {
    font-size: 20px;
  }

  .mini-text {
    font-size: 16px;
  }

  .button-text_small {
    font-size: 20px;
  }

  .round-list {
    font-size: 18px;
  }

  .round-list:not(:last-child) {
    margin-bottom: 23px;
  }

  .round-list::before {
    top: 14px;
    left: -34px;
    height: 12.3px;
  }

  .round-list::after {
    top: 6px;
    left: -25px;
    height: 20.56px;
  }

  .round-list span {
    width: 32px;
    height: 32px;
  }

  .header__button {
    font-size: 20px;
  }

  .header__menu > :not(:last-child)::after {
    top: 5px;
    right: -45px;
  }

  #dropdown {
    padding-right: 10px;
  }

  .dropdown::before,
  .dropdown::after {
    top: 15px;
  }

  .dropdown__wrapper.active {
    min-width: 260px;
  }

  .promo__image {
    top: -10px;
    right: -163px;
  }

  .promo__image img {
    width: 90%;
    height: 90%;
  }

  .promo__title {
    font-size: 72px;
  }

  .promo__price {
    font-size: 24px;
  }

  .promo__price::before {
    top: -3px;
  }

  .promo__price::after {
    top: 8px;
  }

  .tariff .hide-m {
    display: block;
  }

  .tariff .hide-w {
    display: none;
  }

  .tariff .hide-w-m {
    display: none;
  }

  .tariff-description {
    height: 560px;
  }

  .tariff-description__button {
    padding: 7px 20px;
    font-size: 18px;
  }

  .tariff-additions__items {
    margin-top: 47px;
  }

  .cms__items {
    margin-top: 30px;
  }

  .cms__item {
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
  }

  .sll {
    padding: 94px 0;
  }

  .sll__card:nth-child(3) {
    margin-top: 0;
  }

  .sll__card:nth-child(4) {
    margin-top: 0;
  }

  .names {
    padding: 52px 0 149px;
  }

  .names__wrapper {
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .names__text {
    margin-top: 155px;
    max-width: 560px;
  }

  .names__button {
    margin-top: 77px;
  }

  .names__block {
    width: 225px;
  }

  .names-item {
    padding: 15px 10px 15px 30px;
  }

  .names-item__domen {
    font-size: 20px;
  }

  .names-item__value {
    font-size: 20px;
  }

  .names-item__year {
    font-size: 18px;
  }

  .hosting {
    padding: 96px 0 28px;
  }

  .hosting__wrapper {
    -ms-flex-align: unset;
    align-items: unset;
  }

  .vps {
    padding: 86px 0 124px;
  }

  .vps__subtitle {
    margin-top: 43px;
  }

  .vps__table {
    margin: 0;
  }

  .advantages__item {
    max-width: 283px;
  }

  .advantages__item:nth-child(1) {
    padding-right: 0;
    max-width: 276px;
  }

  .advantages__item:nth-child(2) {
    padding-left: 0;
  }

  .advantages__item:nth-child(3) {
    margin-top: 0;
    max-width: 226px;
  }

  .advantages__item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 32px;
    right: -150px;
    width: 220px;
    height: 1px;
    background-color: rgba(103, 168, 210, 0.3);
  }

  .feedback__wrapper {
    -ms-flex-align: unset;
    align-items: unset;
  }

  .feedback__text {
    margin-top: 46px;
  }

  .feedback__feedback {
    margin-top: 33px;
  }

  .feedback__item {
    margin-top: 33px;
  }

  .accordion__header {
    padding: 24px 40px 26px 80px;
  }

  .accordion__header::before,
  .accordion__header::after {
    top: 25px;
    left: 39px;
    height: 31px;
  }

  .accordion__content {
    padding: 0 40px 36px 80px;
  }

  .try__block {
    z-index: 0;
  }

  .try__text p {
    font-size: 24px;
  }

  .payment__item {
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
  }

  .payment__item:nth-child(4)::after {
    display: none;
  }

  .payment__item:nth-child(3)::after {
    display: block;
  }

  .payment__item:nth-child(6)::after {
    display: block;
  }

  .footer__text {
    max-width: 490px;
  }

  .footer__menu {
    max-width: 490px;
  }
}

@media (min-width: 992px) and (min-width: 1200px) {
  .advantages__item:not(:last-child)::after {
    right: -269px;
    width: 345px;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
  }

  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-1 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xl-2 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xl-3 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xl-4 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xl-5 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xl-6 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xl-7 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xl-8 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xl-9 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xl-10 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xl-11 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xl-12 {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
  }

  .container {
    max-width: 1180px;
  }

  .header-2 {
    font-size: 48px;
  }

  .header-3 {
    font-size: 36px;
  }

  .button_blue {
    padding: 7px 42px 7px 41px;
  }

  .round-list {
    font-size: 20px;
  }

  .header__menu > :not(:last-child)::after {
    right: -65px;
  }

  #dropdown {
    padding-right: 24px;
  }

  .dropdown::before,
  .dropdown::after {
    width: 10px;
  }

  .dropdown::before {
    right: -22px;
  }

  .promo__image {
    top: -24px;
    right: -56px;
  }

  .promo__image img {
    width: 100%;
    height: 100%;
  }

  .tariff {
    padding: 94px 0px;
  }

  .tariff__about {
    margin-top: 57px;
  }

  .tariff-block {
    -ms-flex: 0 1 280px;
    flex: 0 1 280px;
  }

  .tariff-description {
    height: 488px;
  }

  .tariff-description__old-price p:first-of-type {
    font-size: 36px;
  }

  .tariff-description__button {
    font-size: 20px;
  }

  .tariff-additions__image img {
    width: auto;
  }

  .tariff-additions__title {
    margin-top: 47px;
    margin-left: 46px;
  }

  .tariff-additions__items {
    margin-left: 46px;
  }

  .cms__about {
    margin-top: 57px;
  }

  .cms__items {
    margin-top: 70px;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .cms__item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .cms__item:nth-child(1),
  .cms__item:nth-child(2),
  .cms__item:nth-child(3),
  .cms__item:nth-child(4) {
    margin-right: 88px;
  }

  .cms__item:nth-child(6),
  .cms__item:nth-child(7),
  .cms__item:nth-child(8),
  .cms__item:nth-child(9) {
    margin-top: 53px;
    margin-right: 94px;
  }

  .cms__item:nth-child(10) {
    margin-top: 53px;
  }

  .cms__item:nth-child(11) {
    margin-left: 120px;
  }

  .cms__item:nth-child(11),
  .cms__item:nth-child(12),
  .cms__item:nth-child(13) {
    margin-top: 49px;
    margin-right: 81px;
  }

  .cms__item:nth-child(14) {
    margin-top: 49px;
    margin-right: 112px;
  }

  .sll__about {
    margin-top: 57px;
  }

  .sll__card:nth-child(3) .sll-card__header {
    margin-top: 15px;
    max-width: 232px;
  }

  .sll__card:nth-child(4) .sll-card__header {
    margin-top: 15px;
    max-width: 213px;
  }

  .names__block {
    width: 280px;
  }

  .names-item {
    padding: 18px 19px 16px 39px;
  }

  .names-item__domen {
    font-size: 24px;
  }

  .names-item__value {
    font-size: 24px;
  }

  .names-item__year {
    font-size: 20px;
  }

  .hosting__content {
    margin-top: 33px;
  }

  .feedback-feedback__author {
    text-align: left;
  }

  .fqa__text {
    margin-top: 61px;
  }

  .try__arrow-left {
    top: -92px;
  }

  .try__arrow-right {
    right: -75px;
  }

  .try__text p:last-of-type {
    width: 76.17647%;
  }

  .footer__social {
    margin-top: 0;
    -ms-flex-order: 3;
    order: 3;
  }

  .footer__button button {
    padding: 5px;
  }

  .footer__menu {
    -ms-flex-order: 4;
    order: 4;
  }
}

@media (min-width: 1415px) {
  .try__arrow-left img {
    width: 100%;
  }

  .try__arrow-right {
    right: 0px;
  }

  .try__arrow-right img {
    width: 100%;
  }
}