.tariff {
    padding: 56px 0px;
    @media (min-width: 768px) {
        padding: 74px 0px;
    }
    @media (min-width: 1200px) {
        padding: 94px 0px;
    }
    & .show-m {
        display: block;
        @media (min-width: 576px) {
            display: none;
        }
    }
    & .hide {
        display: none;
        @media (min-width: 576px) {
            display: flex;
        }
    }
    & .hide-block {
        display: none;
        @media (min-width: 576px) {
            display: block;
        }
    }
    & .hide-m {
        display: none;
        @media (min-width: 992px) {
            display: block;
        }
    }
    & .hide-w {
        @media (min-width: 992px) {
            display: none;
        }
    }
    & .hide-w-m {
        display: none;
        @media (min-width: 576px) {
            display: block;
        }
        @media (min-width: 992px) {
            display: none;
        }
    }
    &__about{
        margin-top: 36px;
        max-width: 700px;
        @media (min-width: 1200px) {
            margin-top: 57px;
        }
        &>:not(:last-child) {
            margin-bottom: 23px;
        }
    }
    &__names {
        margin-top: 47px;
    }
    &__infinity {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        @media (min-width: 576px) {
            margin-bottom: 0;
        }
    }
    &__characteristics {
        margin-top: 10px;
    }
    &__all-characteristics {
       margin-top: 35px;
       text-align: center;
    }
    &__additions {
        margin-top: 40px;
        @media (min-width: 768px) {
            margin-top: 66px;
        }
    }
    &__card {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.tariff-block {
    padding: 20px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(183, 183, 183, 0.43);
    border-radius: 10px 10px 0px 0px;
    @media (min-width: 1200px) {
        flex: 0 1 280px;
    }
    &__image {
        padding: 12px 20px 0;
        width: 88px;
        height: 88px;
        border-radius: 100%;
        background: linear-gradient(180deg, rgba(103, 168, 210, 0.88) 0%, rgba(103, 168, 210, 0) 100%);
        &_start {
            padding: 0;
            position: relative;
            & img {
                position: absolute;
                top: 24px;
                right: 8px;
            }
        }
        &_standart {
            padding: 0;
            position: relative;
            & img {
                position: absolute;
                top: 17px;
                right: 7px;
            }
        }
        &_business {
            padding: 0;
            position: relative;
            & img {
                position: absolute;
                top: 8px;
                right: 8px;
            }
        }
    }
    &__name {
        margin-top: 12px;
    }
}

.tariff-description {
    padding: 18px 24px 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: $white;
    box-shadow: 0px 4px 4px rgba(183, 183, 183, 0.43);
    border-radius: 0px 0px 10px 10px;
    @media (min-width: 576px) {
        justify-content: space-between;
        height: 480px;
    }
    @media (min-width: 992px) {
        height: 560px;
    }
    @media (min-width: 1200px) {
        height: 488px;
    }
    &__bottom {
        margin-top: 30px;
        @media (min-width: 576px) {
            margin: 0;
        }
    }
    &__text {
        margin-top: 12px;
        &>:not(:last-child) {
            margin-bottom: 14px;
        }
    }
    &__price {
        display: flex;
        justify-content: space-between;
    }
    &__new-price {
        position: relative;
        & div {
            position: absolute;
            width: 160px;
            height: 67px;
            top: 0;
            left: -24px;
            background: linear-gradient(90deg, #7CB4D8 0%, rgba(191, 230, 255, 0) 100%);
        }
        & p {
            position: relative;
            text-align: left;
            z-index: 5;
            &:first-of-type {
                margin-left: 11px;
            }
            &:last-of-type {
                margin-top: -10px;
                margin-left: 37px;
                margin-bottom: 3px;
            }
        }
    }
    &__old-price {
        & p {
            text-align: left;
            color: $gray;
            &:first-of-type {
                margin-right: 7px;
                font-weight: 300;
                font-size: 30px;
                line-height: 150%;
                text-decoration-line: line-through;
                @media (min-width: 1200px) {
                    font-size: 36px;
                }
            }
            &:last-of-type {
                margin-top: -10px;  
                margin-left: 15px;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                text-decoration-line: line-through;
            }
        }
    }
    &__button {
        margin-top: 23px;
        @media (min-width: 768px) {
            padding: 7px 42px;
            font-size: 20px;
        }
        @media (min-width: 992px) {
            padding: 7px 20px;
            font-size: 18px;
        }
        @media (min-width: 1200px) {
            font-size: 20px;
        }
        
    }
}

.tariff-additions {
    &__image {
        & img {
            width: 100%;
            @media (min-width: 1200px) {
                width: auto;
            }
        }
    }
    &__info {
        margin-top: 40px;
        @media (min-width: 768px) {
            margin: 0;
        }
    }
    &__title {
        @media (min-width: 768px) {
            margin-left: 20px;
        }
        @media (min-width: 1200px) {
            margin-top: 47px;
            margin-left: 46px;
        }
    }
    &__items {
        margin-top: 22px;
        @media (min-width: 768px) {
            margin-left: 20px;
        }
        @media (min-width: 992px) {
            margin-top: 47px;
        }
        @media (min-width: 1200px) {
            margin-left: 46px;
        }
    }
}