.feedback {
    padding: 103px 0 0px;
    &__wrapper {
        align-items: center;
        @media (min-width: 992px) {
            align-items:unset;
        }
    }
    &__text {
        margin-top: 30px;
        width: 100%;
        max-width: 480px;
        @media (min-width: 992px) {
            margin-top: 46px;
        }
        & p {
            &:not(:last-child) {
                margin-bottom: 23px;
            }
        }
    }
    &__feedback {
        margin-top: 45px;
        @media (min-width: 768px) {
            margin: 0;
        }
        @media (min-width: 992px) {
            margin-top: 33px;
        }
    }
    &__item {
        margin-top: 45px;
        margin-bottom: 45px;
        @media (min-width: 992px) {
            margin-top: 33px;
        }
    }
}

.feedback-feedback {
    
    padding: 40px 20px 82px;
    position: relative;
    width: 100%;
    max-width: 559px;
    background: $white;
    box-shadow: 0px 4px 4px rgba(46, 46, 46, 0.27);
    border-radius: 10px;
    @media (min-width: 576px) {
        padding: 50px 45px 64px;
    }
    
    &::before {
        content: "";
        position: absolute;
        top: -17px;
        left: 50%;
        width: 31px;
        transform: translateX(-50%);
        height: 31px;
        background: url("../../img/feedback/quotes.svg")  no-repeat;
        background-size: cover;
        z-index: 2;
        @media (min-width: 768px) {
            top: -21px;
            width: 41px;
            height: 41px;
        }
    }
    &__text {
        text-align: center;
    }
    &__author {
        position: absolute;
        right: 17px;
        bottom: 14px;
        max-width: 30%;
        text-align: center;
        @media (min-width: 400px) {
            max-width: 38%;
        }
        @media (min-width: 1200px) {
            text-align: left;
        }
    }
    &__image {
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -38px;
        width: 76px;
        height: 76px;
        @media (min-width: 576px) {
            left: 50%;
            transform: translateX(-50%);
        }
        & img {
            border-radius: 100%;
            box-shadow: 0px 4px 4px rgba(46, 46, 46, 0.27);
        }
    }
}