.contact {
    display: flex;
    align-items: center;
    &__icon {
        position: relative;
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        &_email {
            align-self: flex-start;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 28px;
            height: 28px;
            background-color: $white;
            opacity: 0.2;
            border-radius: 100%;
        }
    }
    &__contact {
        font-size: 16px;
        line-height: 150%;
        color: $white;
        &_footnote {
            margin-top: -1px;
            font-style: italic;
            font-weight: 200;
            font-size: 14px;
            text-align: right;
        }
    }
}