.round-list {
    position: relative;
    margin-left: 43px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: $blue-dark;
    @media (min-width: 992px) {
        font-size: 18px;
    }
    @media (min-width: 1200px) {
        font-size: 20px;
    }
    &:not(:last-child) {
        margin-bottom: 18px;
        @media (min-width: 992px) {
            margin-bottom: 23px;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: -36px;
        width: 4px;
        height: 11px;
        transform: rotate(-45deg);
        background: #1B567C;
        border-radius: 20px;
        z-index: 5;
        @media (min-width: 992px) {
            top: 14px;
            left: -34px;
            height: 12.3px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 5px;
        left:-28px;
        height: 19px;
        width: 4px;
        transform: rotate(39.54deg);
        background: #1B567C;
        border-radius: 20px;
        z-index: 5;
        @media (min-width: 992px) {
            top: 6px;
            left:-25px;
            height: 20.56px;
        }
    }
    & span {
        position: absolute;
        top: 0;
        left: -43px;
        width: 28px;
        height: 28px;
        border-radius: 100%;
        background: linear-gradient(90deg, #7CB4D8 0%, rgba(191, 230, 255, 0) 100%);
        @media (min-width: 992px) {
            width: 32px;
            height: 32px;
        }
    }
}