.header-1{
    font-weight: 400;
    font-size: 72px;
    line-height: 150%;
    letter-spacing: 0.06em;
    color: $gray;
}
.header-2{
    text-align: center;
    font-weight: 400;
    font-size: 34px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: $gray;
    @media (min-width: 768px) {
        font-size: 38px;
    }
    @media (min-width: 992px) {
        font-size: 42px;
    }
    @media (min-width: 1200px) {
        font-size: 48px; 
    }
}

.header-3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $blue-dark;
    @media (min-width: 992px) {
        font-size: 30px;
    }
    @media (min-width: 1200px) {
        font-size: 36px;
    }
}

.header-4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $gray;
    @media (min-width: 992px) {
        font-size: 24px;
    }
}

.main-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    
    color: $gray;
    @media (min-width: 992px) {
        font-size: 20px;
    }
    &_semibold {
        font-weight: 600;
    }
}

.mini-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $text2;
    @media (min-width: 992px) {
        font-size: 16px;
    }
}

.link {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration-line: underline;
    color: $orange;
}
.button-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.035em;
    color: $white;
    &_small {
        font-size: 18px;
        @media (min-width: 992px) {
            font-size: 20px;
        }
    }
}